.styled-input, textarea {
  margin-top: 4px;
  border-radius: 4px;
  border: solid 1px gray;
  width: 100%;
  padding: 12px 0;
}

.section {
  padding: 16px;
  border-radius: 16px;
  background-color: rgb(233, 233, 233);
}

.form-button {
  width: 100%;
  margin: 8px;
  padding: 16px;
  color: white;
  background-color: rgb(77, 221, 77);
  border: none;
  border-radius: 4px;
}