main {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

#submit-container {
  display: flex;
  flex-direction: column;
}

.form-button {
  width: 100%;
  padding: 16px;
  color: white;
  background-color: rgb(77, 221, 77);
  border: none;
  border-radius: 4px;
}

.styled-input {
  margin-top: 4px;
  width: 100%;
  padding: 12px 0;
}

#event-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#contato-assunto {
  padding: 12px 16px;
  background-color: rgb(224, 224, 224);
  border-radius: 8px;
}