html {
  height: 100%;
  width: 100%;
}

div {
  text-align: center;
}

fieldset {
  text-align: center;
}

iframe {
  text-align: center;
}

img {
  border-radius: 50%;
}

SEJA_RARO.jpg {
  width: 50%;
  height: 50%;
}